{% extends "base.html" %}
{% block content1 %}
{% load static %}
<link rel="stylesheet" href="{% static 'about.css' %}">

<section class="sec_about siterelative">
    <div class="container main-wrap ">
        <div class="col-100 column">
            <div class="element_populate main-wrap">
                <section>
                    <div class="row">
                        <div class=" col-md-5 ">
                            <div class="art-welcome-image">
                                <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="negidreamstudio">
                            </div>
                        </div>
                        <div class=" col-md-7 welcome-section-right">
                            <div class="welcome-right-inner">
                                <h2 class="art-h1">Welcome to Negi Dream Studio</h2>
                            <div class="body-two-font story">
                                <p>"At Negi Dream Studio, we specialize in transforming moments into timeless memories. Founded by Bhupendra Negi in 2013, our decade-long journey has been dedicated to capturing life's beautiful tapestry. Based in Haldwani, Almora, and Uttarakhand, we offer a diverse range of photography services that extend beyond weddings."</p>
                            </div>
                            <div class="outer1-btn">
                                <a class="btn1" href="">CALL NOW</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="sec_about2 siterelative">
    <div class="container main-wrap ">
        <div class="col-100 column">
            <div class="element_populate main-wrap">
                <section>
                    <div class="row">
                        <div class=" col-md-7 circletext">
                            <div class="welcome-right-inner">
                                <h3 class="art-circle-title">My Vision</h3>
                            <div class="body-two-font story">
                                <p>"Led by Bhupendra's creative vision, we craft authentic stories through our lens. With 10 years of experience and a keen eye for detail, Bhupendra, at 50, infuses each photograph with cultural richness from his hometown, Masi, Uttarakhand."</p>
                                <p>"Experience the artistry of Negi Dream Studio, where every click narrates a unique tale. Let us preserve your special moments with passion and finesse."</p>
                            </div>
                            </div>
                        </div>
                        <div class=" col-md-5 circle-two">
                            <div class="circle-inner-two">
                            <div class="rotating-circle">
                                <svg viewBox="0 0 100 100" width="100" height="100">
                                    <defs>
                                      <path id="circle"
                                        d="
                                          M 50, 50
                                          m -37, 0
                                          a 37,37 0 1,1 74,0
                                          a 37,37 0 1,1 -74,0"/>
                                    </defs>
                                    <text font-size="18">
                                      <textPath xlink:href="#circle">
                                       Negi Weeding Photo Studio
                                      </textPath>
                                    </text>
                                  </svg>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="sec_about3 siterelative">
    <div class="container main-wrap ">
        <div class="col-100 column">
            <div class="element_populate main-wrap">
                <section>
                    <div class="row art-do-reverse">

                        <div class="col-md-8 art-image-text-section">
                            <div class="art-program-info-data">
                                <div class="program-info-data-block">
                                    <h2 class="section-heading">Meet Bhupendra Negi</h2>
                                    <div class="body-two-font story">
                                        <p>Hello, I'm Bhupendra Negi, founder of Negi Dream Studio. Over the past decade since 2013, I've passionately transformed moments into timeless memories. Starting my photography journey at 40, I find inspiration in the cultural richness of Masi in Almora, Uttarakhand.</p>
                                        <p>Photography is not just a profession; it's my lifelong passion. From serene Uttarakhand landscapes to vibrant celebrations in Haldwani and Almora, I've joyfully captured weddings, engagements, birthdays, and more. At 50, I infuse every photograph with the same enthusiasm.</p>
                                        <p>Explore my unique style on the portfolio page and let's create magic together on your special day. I'm not just a photographer; I'm a storyteller dedicated to weaving narratives of your unique moments.</p>

                                    </div>                                    
                            </div>
                        </div>
                        </div>

                        <div class=" col-md-4 art-image-text-section-two">
                            <div class="art-welcome-image">
                                <img src="{% static 'media/bs.jpg' %}" alt="negidreamstudio">
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="sec_about4 siterelative">
    <div class="container main-wrap ">
        <div class="col-100 column">
            <div class="element_populate main-wrap">
                <section>
                    <div class="row">
                        <div class=" col-md-7 art-text-one">
                            <div class="art-text-links-data">
                                <div class="program-info-data-block">
                                <h3 class="art-program-info-title">Equipment</h3>
                            <div class="body-two-font story">
                                <p>"Discover the tools instrumental in capturing those timeless moments. My camera selection adapts to various photoshoot types, locations, and timing, ensuring each shot is perfect. If you have queries about my gear, I'm here to help."</p>
                                <div class="art-equipment-image">
                                    <img src="{% static 'media/sony.jpg' %}" alt="negidreamstudio">
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class=" col-md-5 art-text-one">
                            <div class="art-text-blocks-ul">
                                <h5 class="text-block-title">Camera bodies</h5>
                                <p>Nikon D850 (multiple bodies) <br>
                                    Sony Alpha 7R IV (multiple bodies)<br>
                                </p>
                            </div>
                            <div class="art-text-blocks-ul">
                                <h5 class="text-block-title">Camera lenses</h5>
                                <p>Nikon 105mm macro <br>
                                    Nikon 24-70mm f/2.8 <br>
                                    Sony FE 85mm f/1.4 GM <br>
                                    Nikon 70-200mm f/2.8 <br>
                                    Sony FE 135mm f/1.8 GM <br>
                                    Sony FE 35mm f/1.4 GM <br>
                                    Sony FE 28mm f/2
                                </p>
                            </div>
                            <div class="art-text-blocks-ul">
                                <h5 class="text-block-title">Flashes and lights</h5>
                                <p>Nikon SB-5000 Speedlight <br>
                                    Sony HVL-F60RM Wireless Radio Flash <br>
                                    Stella Pro 5000 video light <br>
                                    Stella 2000 video light <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
    <section class="sec_about6 siterelative">
        <div class="myGallery">
            <div class="layout-about">
                <img class="lay-img" src="{% static 'media/01.jpg' %}" alt="negidreamstudio">
            </div>
            <div class="layout-about">
                <img  class="lay-img" src="{% static 'media/03.jpg' %}" alt="negidreamstudio">
            </div>
            <div class="layout-about">
                <img   class="lay-img" src="{% static 'media/04.jpg' %}" alt="negidreamstudio">
            </div>
            <div class="layout-about">
                <img  class="lay-img" src="{% static 'media/05.jpg' %}" alt="negidreamstudio">
            </div>
        </div>
    </section>
    

<section class="sec_about5 siterelative">
    <div class="container main-wrap ">
        <div class="col-100 column">
            <div class="element_populate main-wrap">
                <div class="inner-sec">
                <div class="element-col">
                    <div class="element-container">
                        <h2>Want to Work With Me?</h2>
                    </div>
                </div>
                <div class="element-col">
                    <div class="element-container2">
                        <p>Leave your contact information and I will get back to you as soon as possible.</p>
                    </div>
                </div>
                <div class="element-col">
                    <div class="element-container3">
                        <div class="outer1-btn">
                            <a class="btn1" href="">BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}