{% extends "base.html" %}
{% block content2 %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio.css' %}">
<link rel="stylesheet" href="{% static 'about.css' %}">
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'main.css' %}">
 <section class="portfolio-first">
    <div class="outer-portfolio">
        <div class="portfolio-button-list">
            <div class="portfolio-group-inner">
                <a class="art-h4 focus-btn portfolio-filter" href="{% url 'Portfolio'%}">All</a>
                <a class="art-h4 focus-btn portfolio-filter" href="{% url 'portfolio_with_category' category='wedding' %}" >Wedding</a>
                <a class="art-h4 focus-btn portfolio-filter" href="{% url 'portfolio_with_category' category='haldi' %}">Haldi</a>
                <a class="art-h4 focus-btn portfolio-filter" href="{% url 'portfolio_with_category' category='birthday'%}">Birthday</a>
            </div>
        </div>
        <div class="container"> 
            <div class="art-portfolio-grid row">
               {% for project in projects %}
                    <div class="col-sm-6 col-md-3 art-portfolio-item">
                        <a class="art-portfolio-item-link" href="{% url 'portfolio_detail' slug=project.slug %}">
                            <div class="portfolio-image">
                                <img src="{{project.media.first.image.url}}" alt="">
                            </div>
                            <div class="portfolio-date">
                                <span class="art-date">
                                    {{ project.date }}
                                </span>
                            </div>
                            <h2 class="art-portfolio-title art-h6">{{ project.title }}</h2>
                            <span class="art-location-portfolio">{{ project.location }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
 </section>



 <section class="sec_about5 siterelative">
    <div class="container main-wrap ">
        <div class="col-100 column">
            <div class="element_populate main-wrap">
                <div class="inner-sec">
                <div class="element-col">
                    <div class="element-container">
                        <h2>Want to Work With Me?</h2>
                    </div>
                </div>
                <div class="element-col">
                    <div class="element-container2">
                        <p>Leave your contact information and I will get back to you as soon as possible.</p>
                    </div>
                </div>
                <div class="element-col">
                    <div class="element-container3">
                        <div class="outer1-btn">
                            <a class="btn1" href="">BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>


{% endblock %}