{% extends "base.html" %}
{% block content5 %}
{% load static %}

<link rel="stylesheet" href="{% static 'services.css' %}">
<link rel="stylesheet" href="{% static 'about.css' %}">
<link rel="stylesheet" href="{% static 'home.css' %}">

<section class="sec_services siterelative">
    <div class="container main-wrap ">
        <div class="col-100 column">
            <div class="element_populate main-wrap">
                <section class="container">
                    <div class="row">
                        <div class=" col-md-5 ">
                            <div class="art-welcome-image">
                                <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="">
                            </div>
                        </div>
                        <div class=" col-md-7 welcome-section-right">
                            <div class="welcome-right-inner">
                                <div class=" col-md-5 circle-two circle-to">
                                    <div class="circle-inner-two">
                                    <div class="rotating-circle circle-to1">
                                        <svg viewBox="0 0 100 100" width="100" height="100">
                                            <defs>
                                              <path id="circle"
                                                d="
                                                  M 50, 50
                                                  m -37, 0
                                                  a 37,37 0 1,1 74,0
                                                  a 37,37 0 1,1 -74,0"/>
                                            </defs>
                                            <text font-size="18">
                                              <textPath xlink:href="#circle">
                                               Negi Weeding Photo Studio
                                              </textPath>
                                            </text>
                                          </svg>
                                    </div>
                                </div>
                                </div>
                                <h2 class="art-h1">Services</h2>
                            <div class="body-two-font story">
                                <p>"At Negi Dream Studio, we specialize in transforming moments into timeless memories. Founded by Bhupendra Negi in 2013, our decade-long journey has been dedicated to capturing life's beautiful tapestry. Based in Haldwani, Almora, and Uttarakhand, we offer a diverse range of photography services that extend beyond weddings."</p>
                            </div>
                            <div class="outer1-btn">
                                <a class="btn1" href="">CALL NOW</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="sec_services1 siterelative">
    <div class="container main-wrap ">
        <div class="col-100 column">
            <div class="element_populate main-wrap">
                <div class="service-card">
                    <div class="service-inner">
                        <div class="sc_title">
                            <span class="sc_item art-testimonial-name art-h5">
                                Services
                            </span>
                            <h2 class="section-heading">We're passionate and creative photographers</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class=" portfolio-grid row new-height" style="position: relative;">
                        <div class="art-service-item col-md-three col-sm-6 card-services-one" >
                            <div>
                                <div class="art-portfolio-image">
                                    <div class="bg-image" style="background-image: url('https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg');"></div>
                                        <div class="service-hover">
                                            <h2>LIGHTENING</h2>
                                            <div class="body-two-font story servicetext">
                                                <p>Aliquam id diam maece na se ultricies mi eget</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="art-service-item col-md-three col-sm-6 card-services-two" >
                            <div>
                                <div class="art-portfolio-image">
                                    <div class="bg-image" style="background-image: url('https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg');"></div>
                                        <div class="service-hover">
                                            <h2>LIGHTENING</h2>
                                            <div class="body-two-font story servicetext">
                                                <p>Aliquam id diam maece na se ultricies mi eget</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="art-service-item col-md-three col-sm-6 card-services-three" >
                            <div>
                                <div class="art-portfolio-image">
                                    <div class="bg-image" style="background-image: url('https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg');"></div>
                                        <div class="service-hover">
                                            <h2>LIGHTENING</h2>
                                            <div class="body-two-font story servicetext">
                                                <p>Aliquam id diam maece na se ultricies mi eget</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="art-service-item col-md-three col-sm-6 card-services-four" >
                            <div>
                                <div class="art-portfolio-image">
                                    <div class="bg-image" style="background-image: url('https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg');"></div>
                                        <div class="service-hover">
                                            <h2>LIGHTENING</h2>
                                            <div class="body-two-font story servicetext">
                                                <p>Aliquam id diam maece na se ultricies mi eget</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="portfolio-grid row new-height top-space" style="position: relative;">
                    <div class="art-service-item col-md-three col-sm-6 card-services-one" >
                        <div>
                            <div class="art-portfolio-image">
                                <div class="bg-image" style="background-image: url('https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg');"></div>
                                    <div class="service-hover">
                                        <h2>LIGHTENING</h2>
                                        <div class="body-two-font story servicetext">
                                            <p>Aliquam id diam maece na se ultricies mi eget</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="art-service-item col-md-three col-sm-6 card-services-two" >
                        <div>
                            <div class="art-portfolio-image">
                                <div class="bg-image" style="background-image: url('https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg');"></div>
                                    <div class="service-hover">
                                        <h2>LIGHTENING</h2>
                                        <div class="body-two-font story servicetext">
                                            <p>Aliquam id diam maece na se ultricies mi eget</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="art-service-item col-md-three col-sm-6 card-services-three" >
                        <div>
                            <div class="art-portfolio-image">
                                <div class="bg-image" style="background-image: url('https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg');"></div>
                                    <div class="service-hover">
                                        <h2>LIGHTENING</h2>
                                        <div class="body-two-font story servicetext">
                                            <p>Aliquam id diam maece na se ultricies mi eget</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="art-service-item col-md-three col-sm-6 card-services-four" >
                        <div>
                            <div class="art-portfolio-image">
                                <div class="bg-image" style="background-image: url('https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg');"></div>
                                    <div class="service-hover">
                                        <h2>LIGHTENING</h2>
                                        <div class="body-two-font story servicetext">
                                            <p>Aliquam id diam maece na se ultricies mi eget</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section-new" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="0" class="aos-init aos-animate">
    <div class="container">
      <h2>
        Exactly what your business needs to
        <span class="backgroundShape">succeed</span>
      </h2>
      <p class="top-s">
        Are you using multiple tools to handle different features? Is this
        practice consuming your precious time, effort and money? Don’t
        worry, Salesley is here to help you with everything your business
        needs. It offers every possible modern-day tool required for taking
        your business to the next level. With its highly advanced and robust
        features, you’ll never need extra tools and applications.
      </p>
      <div class="outer1-btn">
        <a class="btn1" href="">CALL NOW</a>
    </div>
      <div class="flex">
        <div class="text">
          <div class="paragraph aos-init aos-animate" id="para-1" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0" data-para="0">
            <h3>Customer Relationship Management</h3>
            <br>
            <p class="top-s">
                Are you using multiple tools to handle different features? Is this
                practice consuming your precious time, effort and money? Don’t
                worry, Salesley is here to help you with everything your business
                needs. It offers every possible modern-day tool required for taking
                your business to the next level. With its highly advanced and robust
                features, you’ll never need extra tools and applications.
              </p>
              <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
            <br>
          </div>
          <div class="paragraph aos-init" id="para-2" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0" data-para="1">
            <h3>Website Builder</h3>
            <br>
            <p class="top-s">
                Are you using multiple tools to handle different features? Is this
                practice consuming your precious time, effort and money? Don’t
                worry, Salesley is here to help you with everything your business
                needs. It offers every possible modern-day tool required for taking
                your business to the next level. With its highly advanced and robust
                features, you’ll never need extra tools and applications.
              </p>
              <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
            <br>
          </div>
          <div class="paragraph aos-init" id="para-3" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0" data-para="2">
            <h3>Membership Area</h3>
            <br>
            <p class="top-s">
                Are you using multiple tools to handle different features? Is this
                practice consuming your precious time, effort and money? Don’t
                worry, Salesley is here to help you with everything your business
                needs. It offers every possible modern-day tool required for taking
                your business to the next level. With its highly advanced and robust
                features, you’ll never need extra tools and applications.
              </p>
              <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
            <br>
          </div>
          <div class="paragraph aos-init" id="para-4" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0" data-para="3">
            <h3>Messaging</h3>
            <br>
            <p class="top-s">
              Manage your entire email database through our built-in CRM.
              Send personalized emails, schedule follow-up emails, and
              manage your lists and contacts. Create phone scripts for each
              call type, so you never have to think about what to say again.
              If you are not using these tools to reach your ideal customer,
              you are missing out on a huge piece of the puzzle. Use
              Salesley and get all the business benefits of a CRM.
            </p>
            <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
            <br>
          </div>
          <div class="paragraph aos-init" id="para-5" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0" data-para="4">
            <h3>Calendars</h3>
            <br>
            <p class="top-s">
              Easily view your client’s availability, and schedule calls and
              meetings with one click. See all of your appointments and
              calendar events at a glance and create a calendar for each
              client and team member. You can also attach forms or other
              documents to individual appointments. All these elements make
              Salesley the best CRM for small businesses.
            </p>
            <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
            <br>
          </div>
          <div class="paragraph aos-init aos-animate" id="para-1" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0" data-para="0">
            <h3>Customer Relationship Management</h3>
            <br>
            <p class="top-s">
                Are you using multiple tools to handle different features? Is this
                practice consuming your precious time, effort and money? Don’t
                worry, Salesley is here to help you with everything your business
                needs. It offers every possible modern-day tool required for taking
                your business to the next level. With its highly advanced and robust
                features, you’ll never need extra tools and applications.
              </p>
              <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
            <br>
          </div>
          <div class="paragraph aos-init aos-animate" id="para-1" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0" data-para="0">
            <h3>Customer Relationship Management</h3>
            <br>
            <p class="top-s">
                Are you using multiple tools to handle different features? Is this
                practice consuming your precious time, effort and money? Don’t
                worry, Salesley is here to help you with everything your business
                needs. It offers every possible modern-day tool required for taking
                your business to the next level. With its highly advanced and robust
                features, you’ll never need extra tools and applications.
              </p>
              <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
            <br>
          </div>
          <div class="paragraph aos-init aos-animate" id="para-1" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0" data-para="0">
            <h3>Customer Relationship Management</h3>
            <br>
            <p class="top-s">
                Are you using multiple tools to handle different features? Is this
                practice consuming your precious time, effort and money? Don’t
                worry, Salesley is here to help you with everything your business
                needs. It offers every possible modern-day tool required for taking
                your business to the next level. With its highly advanced and robust
                features, you’ll never need extra tools and applications.
              </p>
              <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
            <br>
          </div>
        </div>
        <div class="image">
          <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="SalesLey Replaces CRM" id="image-1" class="hidden" data-para="0">
          <img src="https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg" alt="SalesLey Replaces Website Builder" id="image-2" class="hidden" data-para="1">
          <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="SalesLey Membership" id="image-3" class="hidden" data-para="2">
          <img src="https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg" alt="SalesLey Replaces Messaging App" id="image-4" class="hidden" data-para="3">
          <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="SalesLey Replaces Calendars" id="image-5" class="" data-para="4">
          <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="SalesLey Replaces Calendars" id="image-6" class="" data-para="5">
          <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="SalesLey Replaces Calendars" id="image-7" class="" data-para="6">
          <img src="https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg" alt="SalesLey Replaces Website Builder" id="image-8" class="hidden" data-para="7">
        </div>
      </div>
    </div>
  </section>
  <section class="replaces mobile" id="section-replaces-mobile">
    <div class="container">
      <h2>
        Exactly what your business needs to
        <span class="backgroundShape">succeed</span>
      </h2>
      <p>
        Are you using multiple tools to handle different features? Is this
        practice consuming your precious time, effort and money? Don’t
        worry, Salesley is here to help you with everything your business
        needs. It offers every possible modern-day tool required for taking
        your business to the next level. With its highly advanced and robust
        features, you’ll never need extra tools and applications.
      </p>
      <div class="repleces-content-mobile">
        <div class="text">
          <div class="paragraph" id="para-1">
            <h3>Customer Relationship Management</h3>
            <br>
            <p>
              We know how important it is to stay on top of your customer
              relationships. That’s why we have built our CRM to be simple
              and easy to use. You can securely store all your customer
              information and keep track of their conversations. See who
              bought what, when and where. With our customer management
              software, you can add custom fields for additional information
              that’s relevant to you.
            </p>
            <br>
            <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
          </div>
          <div class="image">
            <img src="https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg" alt="SalesLey Replaces CRM" id="image-1">
          </div>
        </div>

        <div class="text">
          <div class="paragraph" id="para-2">
            <h3>Website Builder</h3>
            <br>
            <p>
              With our drag-and-drop editor, you can customize your
              high-quality website in minutes. Drag and drop editor in our
              sales lead CRM software, makes it easy to create the perfect
              sales funnel with just one click. You can easily customize
              your page layouts with unlimited domains and pages.
            </p>
            <br>
            <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
          </div>
          <div class="image">
            <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="SalesLey Replaces Website Builder Mobile" id="image-2">
          </div>
        </div>

        <div class="text">
          <div class="paragraph" id="para-3">
            <h3>Membership Area</h3>
            <br>
            <p>
              Customize your membership area with your colours, logo and
              branding. Create your own courses and sell them in the
              membership area. Any content, like videos, PDFs or docs, can
              be uploaded using the best online CRM. You can also use our
              pre-built workflows to track progress and remind people to
              finish their lessons.
            </p>
            <br>
            <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
          </div>
          <div class="image">
            <img src="https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg" alt="SalesLey Replaces Kajabi and Kartra" id="image-3">
          </div>
        </div>

        <div class="text">
          <div class="paragraph" id="para-4">
            <h3>Messaging</h3>
            <br>
            <p>
              Manage your entire email database through our built-in CRM.
              Send personalized emails, schedule follow-up emails, and
              manage your lists and contacts. Create phone scripts for each
              call type, so you never have to think about what to say again.
              If you are not using these tools to reach your ideal customer,
              you are missing out on a huge piece of the puzzle. Use
              Salesley and get all the business benefits of a CRM.
            </p>
            <br>
            <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
          </div>
          <div class="image">
            <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="SalesLey Replaces Messaging App" id="image-4">
          </div>
        </div>

        <div class="text">
          <div class="paragraph" id="para-5">
            <h3>Calendars</h3>
            <br>
            <p>
              Easily view your client’s availability, and schedule calls and
              meetings with one click. See all of your appointments and
              calendar events at a glance and create a calendar for each
              client and team member. You can also attach forms or other
              documents to individual appointments. All these elements make
              Salesley the best CRM for small businesses.
            </p>
            <br>
            <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
          </div>
          <div class="image">
            <img src="https://pbs.twimg.com/media/DXnkD6bU0AAioOI.jpg" alt="SalesLey Replaces Calendars App" id="image-5">
          </div>
        </div>

        <div class="text">
          <div class="paragraph" id="para-6">
            <h3>Automations</h3>
            <br>
            <p>
              When employed with all the powerful elements like CRM, website
              builder, membership area, messaging and calendars, the
              workflow becomes more powerful and beastlike. On top of that,
              Salesley CRM can help you save $10000 by automating your
              company’s sales process while reducing the need for manual
              work or hiring of VAs and developers. With our CRM you’ll
              never have to bother about the heckless pain of third party
              integrations, you can easily send and gather information
              through third party apps. It comes with robust and top of the
              line technology, it’s able to integrate plethora of modern day
              applications and softwares
            </p>
            <br>
            <div class="outer1-btn">
                <a class="btn1" href="">CALL NOW</a>
            </div>
          </div>
          <div class="image">
            <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="SalesLey Advance Automation" id="image-6">
          </div>
        </div>
        <div class="text">
            <div class="paragraph" id="para-6">
              <h3>Automations</h3>
              <br>
              <p>
                When employed with all the powerful elements like CRM, website
                builder, membership area, messaging and calendars, the
                workflow becomes more powerful and beastlike. On top of that,
                Salesley CRM can help you save $10000 by automating your
                company’s sales process while reducing the need for manual
                work or hiring of VAs and developers. With our CRM you’ll
                never have to bother about the heckless pain of third party
                integrations, you can easily send and gather information
                through third party apps. It comes with robust and top of the
                line technology, it’s able to integrate plethora of modern day
                applications and softwares
              </p>
              <br>
              <div class="outer1-btn">
                  <a class="btn1" href="">CALL NOW</a>
              </div>
            </div>
            <div class="image">
              <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="SalesLey Advance Automation" id="image-6">
            </div>
          </div>
          <div class="text">
            <div class="paragraph" id="para-6">
              <h3>Automations</h3>
              <br>
              <p>
                When employed with all the powerful elements like CRM, website
                builder, membership area, messaging and calendars, the
                workflow becomes more powerful and beastlike. On top of that,
                Salesley CRM can help you save $10000 by automating your
                company’s sales process while reducing the need for manual
                work or hiring of VAs and developers. With our CRM you’ll
                never have to bother about the heckless pain of third party
                integrations, you can easily send and gather information
                through third party apps. It comes with robust and top of the
                line technology, it’s able to integrate plethora of modern day
                applications and softwares
              </p>
              <br>
              <div class="outer1-btn">
                  <a class="btn1" href="">CALL NOW</a>
              </div>
            </div>
            <div class="image">
              <img src="https://scontent.fdel25-3.fna.fbcdn.net/v/t31.18172-8/11754693_338997692937106_8859259892095044545_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9b3078&_nc_ohc=dcORZjspifUAX_0xfoi&_nc_ht=scontent.fdel25-3.fna&oh=00_AfBqdl6yAd7ty4PZDquM46iBMDYwc91TJTQEZ1Q7QVZbNg&oe=65A1708E" alt="SalesLey Advance Automation" id="image-6">
            </div>
          </div>
          
      </div>
    </div>
  </section>
  <section class="new_black">
    <div class="bg_parallex">
    </div>
    <div class="main-container">
        <div class="col-100 column">
            <div class="main-wrap">
                <div class="siterelative">
                    <div class="art-info-section">
                        <h2 class="new-head">"I'm ready to capture your special moments! Book me now for your upcoming event and let's create memories together."</h2>
                        <div class="outer-btn">
                            <a class="btn" href="">BOOK NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <script>
    const desktopReplaces = document.querySelector("#section-new"),
        images = document.querySelectorAll("#section-new .image img"),
        paragraphs = document.querySelectorAll("#section-new .text .paragraph");

    paragraphs.forEach((a, e) => a.setAttribute("data-para", e));
    images.forEach((a, e) => a.setAttribute("data-para", e));

    let paraOnTop = "";

    document.addEventListener("scroll", () => {
        if (window.getComputedStyle(desktopReplaces).display !== "none") {
            for (let a = 0; a < paragraphs.length - 1; a++) {
                if (
                    paragraphs[a].getBoundingClientRect().y < 320 &&
                    paragraphs[a + 1].getBoundingClientRect().y > 550
                ) {
                    paraOnTop = paragraphs[a].dataset.para;
                    break;
                }
            }

            if (
                paragraphs[paragraphs.length - 2].getBoundingClientRect().y < -340 &&
                paragraphs[paragraphs.length - 1].getBoundingClientRect().y < 312
            ) {
                paraOnTop = paragraphs[paragraphs.length - 1].dataset.para;
            }
        }

        images.forEach((a) => {
            a.classList.add("hidden");
            if (paraOnTop === a.dataset.para) {
                a.classList.remove("hidden");
            }
        });
    });
</script>

{% endblock %}