.head_second,.head_first {
    border-bottom: 1px solid #0000001a !important;
}
header.site_header a {
    color: black !important;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #000 !important;
}
.sec_contact{
    padding: 180px 0px 0px;
}
.inner_sec{
padding: 3px 0 0;
width: 100%;
}

.unordered-header-wrapper {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.art-unordered-left {
width: 19.25%;
padding-top: 19px;
}
.art-unordered-center{
width: 61.5%;
text-align: center;
padding: 0 60px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.art-unordered-right {
width: 19.25%;
position: relative;
}
.art-unordered-center-description {
max-width: 610px;
margin: 20px auto 0;
}
@media screen and (max-width:768px){

.unordered-header-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.art-unordered-left {
    width: 35.56%;
    padding-left: 15px;
    padding-top: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.art-unordered-center {
    width: 100%;
    margin-bottom: 40px;
    padding: 0 15px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.art-unordered-right {
    width: 64.44%;
    padding-right: 15px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.art-unordered-right-content {
    width: 42.3%;
    position: relative;
}
.art-unordered-center-description {
    margin-top: 0;
}
.sec_contact{
    padding: 80px 0px 0px;
}

}
.sec_contact1{
    margin-top: 120px;
    margin-bottom: 70px;
}
@media screen and (min-width:768px){
    .offset-md-1 {
        margin-left: 8.3333333333%;
    }
    .col-md-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
}
.art-contact-item {
    text-align: center;
    margin-bottom: 50px;
}
.art-contact-icon {
    margin-bottom: 24px;
}
.art-contact-item h5 {
    margin-bottom: 18px;
}
.container1{
    max-width: 100%;
}
.sec_contact1{
    margin-top: 80px;
    margin-bottom: 30px;
}
.inner-sec-con{
    width: 100%;
    margin-bottom: 0;
}
.tx-c{
    text-align: center;
}
.elementor-widget-container {
    margin: 0 0 60px;
}
.elementor-heading-title {
    margin-bottom: 0;
}

.sec_contact2{
    margin-top: 0;
    margin-bottom: 120px;
}
.new-main-container {
    max-width: 780px;
    margin: auto;
}
.form-contact-text{
    padding: 0 0 40px;
}
.elementor-widget-container1{
    margin-bottom: 20px;
}
@media screen and (min-width:768px){
    .col-md-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
form p {
    margin-bottom: 30px;
}
.form-control-wrap {
    position: relative;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=tel], input[type=range], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color], input[type=number], input[type=search] {
    border: 1px solid #000;
    color: #000;
    font-weight: 300;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    background-color: transparent;
}
input, select, textarea {
    color: #222;
}
.btnn{
    margin-bottom: 30px;
}
button, html input[type=button], input[type=reset], input[type=submit], button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: none;
    cursor: pointer;
    overflow: visible;
}
.art-button {
    border-radius: 0 0 0 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    font-size: 14px;
}
.art-button-dark {
    display: inline-block;
    padding: 16px 32px 14px;
    border: none;
    border-radius: 0;
    transition: linear 0.4s;
}
.art-button-dark {
    color: #ffffff;
    background-color: #000;
}
.art-button{
    font-family: 'Gilda Display';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 19px;
    text-transform: none;
}
.input-textarea{
height: 130px;
    width: 100%;
}
textarea {
    border-radius: 0;
    height: 160px;
    padding: 8px 16px;
    color: #000;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 300;
    background-color: transparent;
}
::-webkit-input-placeholder {
    font-family: 'Gilda Display', serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 32px;
    text-transform: none;
  }
  ::-moz-placeholder {
    font-family: 'Gilda Display', serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 32px;
    text-transform: none;
  }
  :-ms-input-placeholder {
    font-family: 'Gilda Display', serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 32px;
    text-transform: none;
  }
  ::placeholder {
    font-family: 'Gilda Display', serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 32px;
    text-transform: none;
  }
  .art-book-now-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}
.art-button-dark:hover {
    opacity: .8;
}

@media screen and (max-width: 767px){
h2{
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 34px;
}
.rownew{
    margin: 0px !important;
    padding: 0px 20px;
}
}
    
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
  }
  .error-msg {
      color: #D8000C;
      background-color: #FFBABA;
    }