.head_second,.head_first {
    border-bottom: 1px solid #0000001a !important;
}
    .portfolio-first{
        padding: 221px 0px 0px 0px;
    }
    .outer-portfolio{
        background-color: #f1f3f3;
    }
    .portfolio-group-inner{
        list-style: none;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 90px;
        }
        .focus-btn:focus {
            color: #438E76;
        }
        .portfolio-filter{
            font-family: 'Gilda Display', serif !important;
            padding: 0 0 7px;
            border: none;
            background-color: transparent;
            margin: 0 30px;
            border-bottom: 1px solid transparent;
            -webkit-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
            text-transform: capitalize;
        }
        .art-portfolio-item {
            text-align: center;
            margin-bottom: 60px;
        }
        .art-portfolio-item-link {
            text-decoration: none!important;
        }
        .portfolio-image {
            margin-bottom: 24px;
            position: relative;
        }
        .art-portfolio-item:hover .portfolio-image::before {
            opacity: 1;
        }
        .portfolio-image::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,.1);
            opacity: 0;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }
        .portfolio-date{
            line-height: 17px;
        }
        .art-date {
            color: #438E76;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: .1em;
            text-transform: uppercase;
        }
        .art-h6{
            color: black;
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 0.02em;
            line-height: 30px;
            font-family: 'Gilda Display', serif !important;
            text-transform: none;
        }
        .art-portfolio-title {
            margin: 14px 0!important;
        }
        .art-location-portfolio{
            font-family: 'Gilda Display', serif !important;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.02em;
            line-height: 15px;
            color: black;
        }

        @media screen and (max-width: 767px){
             .portfolio-group-inner{
    margin-bottom: 40px;
    min-width: 600px;
}
.detail-tittle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 42px !important;
    font-weight: 400 !important;
    letter-spacing: 0.005em !important;
    line-height: 72px !important;
}
}
@media screen and (max-width: 991px){
.portfolio-button-list{
    overflow: auto;
}
.portfolio-button-list::-webkit-scrollbar {
    width: 0.1em;
}

.portfolio-button-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}
}
@media screen and (max-width: 1024px){
    .portfolio-first{
        padding: 124px 0px 0px 0px;
    }
    
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #000 !important;
}


/*this css for description*/
.portfolio-deatil{
    padding: 70px 0px 0px 0px;
}
.detail-tittle{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 62px !important;
    font-weight: 400 !important;
    letter-spacing: 0.005em !important;
    line-height: 72px !important;
}
.detail-des{
    max-width: 1020px;
    margin: 20px auto 0;
    text-align: center;
}
.sec_portfolio1 {
    margin-top: 40px;
    margin-bottom: 30px;
}
.des-inner{
    text-transform: capitalize;
}

/*image section*/

  .img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.6);
  }
  img {
    width: 100%;
    max-width:400px;
    display: block;
    height: auto;
    object-fit: cover;
  }

  .transparent-box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .single-grid {
    margin-bottom: 70px;
}
@media screen and  (min-width: 768px){
.col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}
}
a.art-gallery-item {
margin-bottom: 30px;
display: block;
opacity: 1;
}











  
